body {
  padding: 24px;
  margin: 0;
  background: #effdf6;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  color: #444;
  max-width: 800px;
  margin: auto;
  position: relative;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 62.5% 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}

button {
  background-color: #68f3a8;
  height: auto;
  border: none;
  width: auto;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  margin: 2rem 0;
  padding: 16px 32px;
  cursor: pointer;
  border-radius: 24px;
}

input {
  width: 325px;
  height: 40px;
  margin: 0.5rem 0 2rem;
  border: none;
  padding: 12px 24px;
  background-color: white;
}

label {
  font-size: 1rem;
  font-weight: 800;
}

::placeholder {
  font-size: 1rem;
}
