* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 24px;
  background: rgb(246 250 253);
  font-weight: 400;
  color: #444;
  max-width: 800px;
  margin: auto;
  position: relative;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 62.5% 'Avenir', sans-serif;
}

#app {
  height: 100%;
}

button {
  background-color: rgb(104 201 186 / 0.4);
  height: auto;
  border: none;
  width: auto;
  font-size: 1rem;
  font-weight: bold;
  margin: 2rem auto;
  padding: 16px 32px;
  cursor: pointer;
  border-radius: 24px;
}

button:hover {
  box-shadow: 0px 4px 24px 8px rgba(75, 93, 104, 0.1);
}

input {
  width: 325px;
  height: auto;
  margin: 0.5rem 0 2rem;
  border: none;
  padding: 12px 24px;
  background-color: white;
  font-size: 1rem;
  box-shadow: 0px 6px 18px 8px rgba(75, 93, 104, 0.1);
  border: 2px solid white;
}

label {
  font-size: 1rem;
  font-weight: 800;
}

form {
  margin: 2rem 0;
}
